[submodule "gummi_rightee_handshake"]
	path = src/gummi_rightee_handshake
	url = https://github.com/frederico-klein/gummi_rightee_handshake.git
[submodule "gummi_rightbase_template"]
	path = src/gummi_rightbase_template
	url = https://github.com/frederico-klein/gummi_rightbase_template.git
[submodule "gummi_leftee_handshake"]
	path = src/gummi_leftee_handshake
	url = https://github.com/frederico-klein/gummi_leftee_handshake.git
[submodule "gummi_leftbase_template"]
	path = src/gummi_leftbase_template
	url = https://github.com/frederico-klein/gummi_leftbase_template.git
[submodule "gummi_rig"]
	path = src/gummi_rig
	url = https://github.com/frederico-klein/gummi_rig.git
[submodule "gummi_moveit"]
	path = src/gummi_moveit
	url = https://github.com/GummiArmCE/gummi_moveit.git
[submodule "src/warehouse_ros_mongo"]
	path = src/warehouse_ros_mongo
	url = https://github.com/ros-planning/warehouse_ros_mongo.git
