<?xml version="1.0" ?>
<robot name="gummi" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="group_left_arm_ee">
    <joint name="left/forearm_roll" />
    <joint name="left/wrist_pitch" />
</xacro:macro>

<xacro:macro name="group_left_gripper_ee">
  <group name="left_gripper">
    <link name="left/wrist"/>
    <joint name="left/gripper"/>
  </group>
</xacro:macro>

<xacro:macro name="group_state_left_arm_ee">
  <joint name="left/forearm_roll" value="0" />
  <joint name="left/wrist_pitch" value="0" />
</xacro:macro>

<xacro:macro name="end_effector_ee">
  <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
<end_effector group="left_gripper" name="left_eef" parent_link="left/wrist" parent_group="left_arm"/>
</xacro:macro>

<xacro:macro name="disable_collisions_ee">
  <!-- <disable_collisions link1="left/hand" link2="left/wrist" reason="Never" />
  <disable_collisions link1="left/hand" link2="left/gripper_link" reason="Never" /> -->
  <disable_collisions link1="left/i1" link2="left/lowerarm" reason="Never" />
  <disable_collisions link1="left/i2" link2="left/lowerarm" reason="Never" />
  <disable_collisions link1="left/i3" link2="left/lowerarm" reason="Never" />
  <disable_collisions link1="left/i4" link2="left/lowerarm" reason="Never" />
  <disable_collisions link1="left/i5" link2="left/lowerarm" reason="Never" />

  <disable_collisions link1="left/i1" link2="left/wrist" reason="Never" />
  <disable_collisions link1="left/i2" link2="left/wrist" reason="Never" />
  <disable_collisions link1="left/i3" link2="left/wrist" reason="Never" />
  <disable_collisions link1="left/i4" link2="left/wrist" reason="Never" />
  <disable_collisions link1="left/i5" link2="left/wrist" reason="Never" />

  <disable_collisions link1="left/i1" link2="left/i2" reason="Never" />
  <disable_collisions link1="left/i1" link2="left/i3" reason="Never" />
  <disable_collisions link1="left/i1" link2="left/i4" reason="Never" />
  <disable_collisions link1="left/i1" link2="left/i5" reason="Never" />

  <disable_collisions link1="left/i2" link2="left/i3" reason="Never" />
  <disable_collisions link1="left/i2" link2="left/i4" reason="Never" />
  <disable_collisions link1="left/i2" link2="left/i5" reason="Never" />

  <disable_collisions link1="left/i3" link2="left/i4" reason="Never" />
  <disable_collisions link1="left/i3" link2="left/i5" reason="Never" />

  <disable_collisions link1="left/i4" link2="left/i5" reason="Never" />

  <disable_collisions link1="left/lowerarm" link2="left/lowerarm_preroll_d" reason="Adjacent" />
  <disable_collisions link1="left/lowerarm" link2="left/wrist" reason="Adjacent" />
  <disable_collisions link1="left/lowerarm_preroll_d" link2="left/wrist" reason="Never" />
</xacro:macro>
</robot>
