<launch>
    <!-- THIS FILE IS GENERAL FOR ANY BASE AND ANY END EFFECTOR AND SHOULD NOT BE EDITED. -->
    <arg name="base" value="$(env ROS_GUMMI_RIGHTBASE)" />
    <arg name="ee" value="$(env ROS_GUMMI_RIGHTEE)" />
    <include file="$(eval find('gummi_rightbase_' + base) + '/launch/controllers_base.launch')">
      <!--arg name="base" value="$(arg base)"/-->
    </include>
    <include file="$(eval find('gummi_rightee_' + ee) + '/launch/controllers_ee.launch')">
       <!--arg name="ee" value="$(arg ee)"/-->
    </include>
</launch>
