<?xml version="1.0" encoding="utf-8"?>
<robot
  name="gummi" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(env GUMMI_LEFTBASEPATH)/xacro/gummi_description_base.urdf.xacro" />
<xacro:include filename="$(env GUMMI_LEFTEEPATH)/xacro/gummi_description_ee.urdf.xacro" />

<link name="base_link"/>

<joint name="leftbase_displacement" type="fixed">
  <origin rpy="0 0 0" xyz="0.2 0 0"/>
  <parent link="base_link"/>
  <child link="left/base_link"/>
  <axis xyz="0 0 0"/>
</joint>
</robot>
